
  <div class="navbar">
    <div class="nav-logo">
      <i class="fa fa-cutlery" aria-hidden="true"> EcoBites</i>
    </div>
    <div class="nav-icons">
      <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
  </div>
