<div class="container">
  <h1>Welcome to EcoBites</h1>

  <div class="button">
    <%= button_to "Sign up", new_user_registration_path, class: "btn btn-primary m-2" %>
    <%= button_to "Sign in", new_user_session_path, class: "btn btn-secondary m-2" %>
  </div>


  <% if user_signed_in? %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger", style: "float: right; margin-right: 10px;" %>
  <% end %>

  <h2>Hot deals <i class="fas fa-fire"></i></h2>
  <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card" style="width: 18rem;">
          <div class="wrapper">
            <img class="card-img-top" src="https://scientificallysweet.com/wp-content/uploads/2020/09/IMG_4087-feature-2.jpg" alt="Card image cap">
          </div>
            <div class="card-body">
              <div> <h5 class="card-title">Card title</h5>
                  <p class="card-text">Price</p>
              </div>
              <a href="https://www.burgerking.co.za/" class="button-offer btn-primary">Get this deal</a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
          <div class="wrapper">
            <img class="card-img-top" src="https://domf5oio6qrcr.cloudfront.net/medialibrary/11396/cb91e012-a635-4b41-a59a-8b23c836423d.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <div>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Price</p>
            </div>
            <a href="#" class="button-offer btn-primary">Get this deal</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
          <div class="wrapper">
            <img class="card-img-top" src="https://www.allrecipes.com/thmb/fFW1o307WSqFFYQ3-QXYVpnFj6E=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/48727-Mikes-homemade-pizza-DDMFS-beauty-4x3-BG-2974-a7a9842c14e34ca699f3b7d7143256cf.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <div>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Price</p>
            </div>
            <a href="#" class="button-offer btn-primary">Get this deal</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
          <div class="card" style="width: 18rem;">
            <div class="wrapper"><img class="card-img-top" src="https://www.iaea.org/sites/default/files/styles/original_image_size/public/str7803.jpg?itok=oYsZLbj9" alt="Card image cap"></div>
            <div class="card-body">
              <div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Price</p>
              </div>
              <a href="#" class="button-offer btn-primary">Get this deal</a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
          <div class="wrapper">
            <img class="card-img-top" src="https://www.womenstuff.co.za/wp-content/uploads/2016/03/dunkindonuts.jpeg" alt="Card image cap">
          </div>
          <div class="card-body">
            <div>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Price</p>
            </div>
            <a href="#" class="button-offer btn-primary">Get this deal</a>
          </div>
        </div>
      </div>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>

  

  <div class="see-offers-button">
      <%= button_to "See all offers", offers_path, class: "btn btn-success m-2" %>
  </div>
</div>
