<div class="body">
  <div class="navbar">
    <div class="nav-logo">
      <i class="fa fa-cutlery" aria-hidden="true"> EcoBites</i>
    </div>
    <div class="nav-icons">
      <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
  </div>
  <h1>Welcome to EcoBites</h1>


  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>
