.navbar {
  justify-content: space-between;
  background: #333366;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  justify-content: space-between;
}

.nav-logo {
  display: flex;
}

.nav-logo,
.nav-icons {
  color: white;
  opacity: 0.9;
  text-decoration: none;
  font-size: 24px;
}

.navbar-ecobites .navbar-brand img {
  width: 40px;
}

.nav-logo:hover,
.nav-icons:hover {
  opacity: 1;
}

.dropdown {
  margin-right: 100px;
}

.nav-logo a {
  text-decoration: none;
  padding-left: 20px;
}

h4 {
  font-family: 'Ephesis', cursive;
  color: white;

  font-size: 30px;
}
.search-box {
  margin-left: 800px;
}

// .notification:hover {
//   background: #666; /* Slightly darker on hover */
// }

.notification {
  background-color: #333366;
  color: white;
  text-decoration: none;
  padding: 15px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

.notification .fa-solid {
  margin-right: 5px; /* Space between icon and text */
}

// Path: app/assets/stylesheets/components/_footer.scss
.footer {
  background: #333366;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #f2f2f2;
}
