.navbar {
  justify-content: space-between;
  background: #333366;
  padding: 20px;

}

.nav-links{
  justify-content: space-between;
}

.nav-logo,.nav-icons{
  color: white;
  opacity: 0.9;
  text-decoration: none;
  font-size: 24px;
}
.navbar-ecobites .navbar-brand img {
  width: 40px;
}

.nav-logo:hover,.nav-icons:hover {
  opacity: 1;
}

.dropdown{
  margin-right: 90px;
}

