.profile-details{
  background-color: #333366;
  margin: 0px;
  width: 100%;
}
.profile-container{
  width: 1519.2px;
}

.profile-text{
  color: white;
  font-size: 20px;
  margin-left: 23px;
  margin-bottom: 0px;
}
.profile-text2{
  color: white;
  font-size: 15px;
  font-style: italic;
  margin-left: 25px;
  padding-bottom: 10px;
}


.profile-header{
  color: white;
  font-size: 30px;
  text-align: center;
}

.orders-offers-container{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.offers-card{
  width: 50%;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.orders-card{
  width: 50%;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.o-f-text{
  text-align: center;
}

.profile-card-text{
  margin-left: 50px;
}
